body {
  background:rgb(0, 0, 0);
  background-image: url(../img/Bakgrund.jpg);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  filter: opacity(0.8);
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: rgba(49, 49, 49, 0.61);
}

.button{
  background-color: #ffffff;
  border: none;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#container3{
  display: grid;
  height: calc(100vh - 5rem);
  width: 100vw;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 7rem;
  grid-template-areas:
  'tx tx'
  'im tx1'
  'ft ft'
}

#container2{
  display: grid;
  height: calc(100vh - 5rem);
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  grid-template-rows: 1fr 7rem;
  grid-gap: 5rem;
  grid-template-areas:
  'mat'
  'ft'
}

#containerTop{
  display: grid;
  height: 5rem;
  width: 100vw;
  grid-template-columns: 5rem 1fr;
  grid-template-areas:
  'nav nav nav nav'
}

#containerTop2{
  display: grid;
  height: 5rem;
  width: 100vw;
  grid-template-columns: 5rem calc(100vw - 5rem);
  grid-template-areas:
  'lg nav nav nav'
}

#container{
  display: grid;
  height: calc(100vh - 5rem);
  width: 100vw;
  grid-gap: 1rem;
  overflow-x: hidden;
  grid-template-rows: 1fr 7rem;
  grid-template-columns: calc(100vw*1/4) calc(100vw*1/4) calc(100vw*1/4) calc(100vw*1/4);
  grid-template-areas:
  'ig ig1 ig2 ig3'
  'ft ft ft ft'
}

#cambria{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: none;
  font-size: 150%
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#mat{
  grid-area: mat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

#title{
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: thicker;
}

#p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p1{
  font-family: 'Open Sans';
}

.menyText{
  font-family: serif;
  font-size: large;
}

#tx{
  grid-area: tx;
  text-align: center;
}

#tx1{
  grid-area: tx1;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.418);
  border-radius: 1rem;
  padding: 0.5rem;
}

#im{
  grid-area: im;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#imDesign{
  border-radius: 1rem;
  height: 1fr;
  width: 400px;
}

#lg{
  grid-area: lg;
  background-image: url(../img/Logo.png);
  background-color: black;
}

#nav{
  grid-area: nav;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  color: white;
}

#ig{
  grid-area: ig;
  background-image: url("../Img/sahand-hoseini-BMVAYjPf6mU-unsplash.jpg");
  background-size: 110%;
  background-position: center;
  border-radius: 1rem;
}

#ig1{
  grid-area: ig1;
  background-image: url("../img/Restaurant.jpg");
  background-position: center;
  background-size: 110%;
  border-radius: 1rem;
}

#ig2{
  grid-area: ig2;
  background-color: bisque;
  background-image: url("../img/Chef.jpg");
  background-size: 110%;
  border-radius: 1rem;
}

#ig3{
  grid-area: ig3;
  background-image: url(../img/Delivery.jpg);
  background-position: center;
  background-size: 110%;
  border-radius: 1rem;
}

#ft{
  grid-area: ft;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;
}

.size{
  font-size: 3rem;
}

.image{
  width: 600px;
  height: 400px;
  background-image: url(../img/Förrätt.jpg);
  border-radius: 1rem;
}

.image1{
  width: 400px;
  height: 600px;
  background-image: url(../img/sahand-hoseini-BMVAYjPf6mU-unsplash.jpg);
  border-radius: 1rem;
}

.image2{
  width: 640px;
  height: 427px;
  background-image: url(../img/Dessert.jpg);
  border-radius: 1rem;
}

.image3{
  width: 640px;
  height: 436px;
  background-image: url(../img/Drink.jpg);
  border-radius: 1rem;
}

.hide{
  opacity: 0;
  border-radius: 1rem;
}

.image:hover, .image1:hover, .image2:hover, .image3:hover{
  transform: scale(1.05);
  transition: 0.3s;
}

.image:hover + .hide{
  background-color: black;
  opacity: 1;
  transition: 0.5s;
  color: #ffffff;
}

.image1:hover + .hide{
  transform: scale(1.01);
  background-color: black;
  opacity: 1;
  transition: 0.5s;
  color: #ffffff;
}

.image2:hover + .hide{
  transform: scale(1.01);
  background-color: black;
  opacity: 1;
  transition: 0.5s;
  color: #ffffff;
}

.image3:hover + .hide{
  transform: scale(1.01);
  background-color: black;
  opacity: 1;
  transition: 0.5s;
  color: #ffffff;
}

